<h1>Editar Curso</h1>

    {{#with course}}
<form action="/course/edit/{{_id}}" method="POST">

    <label for="name">Nome do Curso</label>
    <input type="text" name="name" value="{{name}}">
    <br><br>

    <label for="institution">Instituição</label>
    <input type="text" name="institution" value="{{institution}}">
    <br><br>

    <label for="value">Valor</label>
    <input type="number" name="value" value="{{value}}">
    <br><br>

    <label for="duration">Duração do Curso em Horas </label>
    <input type="number" name="duration" value="{{duration}}">
    <br><br>
    {{/with}}

    <label for="format">Formato</label>
    <select name="format">
        {{#each formats}}
            <option value="{{format}}" {{#if selected}} selected {{/if}}>{{format}}</option>
        {{/each}}
    </select>
    <br><br>

    <label for="category">Categoria</label>
    <select name="category">
        {{#each categories}}
            <option value="{{category}}" {{#if selected}} selected{{/if}}>{{category}}</option>
        {{/each}}
    </select>
    <br><br>

    <button type="submit">Salvar Curso</button>
</form>