{{> navbarPartial}}
<section class="section-course">
  <div class="section-course-div">
    {{#with course}}
    <div class="title-course">
      <h2>{{name}}</h2><br>
      {{#if isAdmin}}
      <div>
        <a class="course.detail-edit" href="/course/edit/{{_id}}">Edit</a>
        <a href="/course/delete/{{_id}}">Delete</a>
      </div>
      {{/if}}
      <br>
    </div>

    <div class="course-details-infos">
      <br>
      <div class="div-infos-course">
        <i class="fas fa-graduation-cap"></i>
        <h4>Instituição:</h4>
        <h3>{{institution}}</h3>
      </div>
      <div class="div-infos-course">
        <i class="fas fa-money-check-alt"></i>
        <h4>Valor:</h4>
        <h3>{{value}}</h3>
      </div>
      <div class="div-infos-course">
        <i class="fas fa-clock"></i>
        <h4>Duração:</h4>
        <h3>{{duration}} horas</h3>
      </div>
      <div>
      </div>
      <div class="div-infos-course">
        <i class="fas fa-play-circle"></i>
        <h4>Formato:</h4>
        <h3>{{format}}</h3>
      </div>
      <div class="div-infos-course">
        <i class="fas fa-list-alt"></i>
        <h4>Categoria:</h4>
        <h3>{{category}}</h3>
      </div>

      <div class="div-infos-course">
        <i class="fas fa-star"></i>
        <h4>Média:</h4>
        <h3 id="avg"></h3>
      </div>

      <a href="{{link}}" target="_blank" class="btn-course-site">Ver curso</a>

      <br>
      <ul>
    </div>
  </div>


  <div class="course-reviews-title">
    <h3>Avaliações</h3>
  </div>


  {{#each reviews}}
  <div {{#if isOwner}}class="editable" {{/if}}>
    <div class="course-review">
      <div class="review-owner">
        <img id="img" src="{{writer.imgPath}}">
        <h2>{{writer.username}}</h2>
      </div>
      <div class="edit-course-owner">
        <input type="text" name="id" class="reviewID" value="{{_id}}" hidden>
        <textarea class="textReview" collums="5" rows="5" disabled>{{text}}</textarea>
        <div class="is-owner">
          {{#if isOwner}}
          <button type="button" class="edit">Editar</button>
          <button type="button" class="save" hidden>Salvar</button>
          <button type="button" class="delete">Deletar</button>
          <br>
          {{/if}}
        </div>
      </div>
    </div>

    <br><br>

    <div class="course-rating">
      <label for="">Nota:</label>
      <select class="ratingReview" disabled>
        {{#each ratings}}
        <option value="{{value}}" {{#if isRating}}selected{{/if}}>{{value}}</option>
        {{/each}}
      </select>

    </div>
    <hr class="review-divisor">
  </div>
  {{/each}}
  </ul>

{{#unless haveAReview}}
  <form class="review-course-form" action="/reviews/add/{{_id}}" method="post">

    <h3>Adicionar Avaliação</h3>
    <h2>{{writer.username}}</h2>

    <label>Avaliação:</label>
    <textarea type="text" name="text" collums="10" rows="10" required></textarea>
    <div class="rating-course-review">
      <label for="">Nota:</label>
      <select name="rating" required>
        {{!-- <option value="6">--</option> --}}
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <button class="course-button" type="submit">Adicionar</button>
    </form>
{{/unless}}
    {{/with}}
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/javascript/show.js"></script>