
{{#with course}}
<h1>{{name}}</h1>
<br>

<a href="/course/edit/{{_id}}">Edit</a>
<a href="/course/delete/{{_id}}">Delete</a>

<br>
<h4>Instituição: {{institution}}</h4>
<h4>Valor: {{value}}</h4>
<h4>Duração: {{duration}} horas</h4>
<h4>Formato: {{format}}</h4>
<h4>Categoria: {{category}}</h4>
<h4>Média: {{avgRating}}</h4>
<br>
<ul>

{{#each reviews}}
<div {{#if isOwner}}class="editable"{{/if}} >
    <h2>{{writer.username}}</h2>

    <input type="text" name="id" class="reviewID" value="{{_id}}" hidden>
    <textarea cols="100" class="textReview" rows="3" disabled>{{text}}</textarea>

    <br><br>
    <div>
        <label for="">Rating</label>
        {{!-- <input type="number" class="ratingReview" value="{{rating}}" disabled> --}}
        <select class="ratingReview" disabled>
          {{#each ratings}}
            <option value="{{value}}" {{#if isRating}}selected{{/if}}>{{value}}</option>
          {{/each}}
        </select>
    </div>
    <br>
    {{#if isOwner}}
      <button type="button" class="edit">Editar</button>
      <button type="button" class="save" hidden>Salvar</button>
      <button type="button" class="delete">Deletar</button>
      <br>
    {{/if}}
</div>
{{/each}}
</ul>
 <p>Add a review</p>
<form action="/reviews/add/{{_id}}" method="post">
<h2>{{writer.username}}</h2>  
<label for="">Avaliação:</label>
  <textarea type="text" name="text"></textarea>
    
  <label for="">Rating</label>
  <input type="number" name="rating"  rows="1" cols="2"></input>

  <button type="submit">Adicionar</button>

{{/with}}

   

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/javascript/show.js"></script>