<h1>{{name}}</h1>
<br>
<a href="/course/edit/{{_id}}">Edit</a>
<a href="/course/delete/{{_id}}">Delete</a>
<br>
<h4>Instituição: {{institution}}</h4>
<h4>Valor: {{value}}</h4>
<h4>Duração: {{duration}} horas</h4>
<h4>Formato: {{format}}</h4>
<h4>Categoria: {{category}}</h4>
<br>
<ul>
{{#each reviews}}
    <h2>{{writer.username}}</h2>
    {{!-- <h4>{{review}}</h4> --}}
    <input type="text" name="id" value="{{_id}}" hidden>
    <textarea id="review" cols="100" rows="3" disabled>{{text}}</textarea>
    {{!-- <h4>Nota: {{rating}}</h4> --}}
    <br><br>
    <div>
        <label for="">Rating</label>
        <input type="text" value="{{rating}}" disabled>
    </div>
    <br>
    <button type="button" class="edit">Edit</button>
    <br>
{{/each}}
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/javascript/show.js"></script>